<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.schedjoules.eventdiscovery">

    <application android:theme="@style/SchedJoules_AppTheme">

        <activity
                android:name=".framework.utils.TestMessageActivity"
                android:label="Test"/>

    </application>

</manifest>
