<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.schedjoules.eventdiscovery">

    <application android:theme="@style/SchedJoules_BaseTheme.Light">

        <service
                android:name=".testutils.mockapi.MockApiService"
                android:exported="false">
            <intent-filter>
                <action android:name="com.schedjoules.API"/>
            </intent-filter>
        </service>

        <activity
                android:name=".testutils.activities.TestMessageActivity"
                android:label="Message test"/>

        <activity
                android:name=".testutils.activities.LauncherTestActivity"
                android:label="Test launcher"/>

    </application>

</manifest>

