<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.schedjoules.eventdiscovery">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission-sdk-23 android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application>

        <activity
                android:name=".framework.activities.MicroFragmentHostActivity"
                android:exported="false"
                android:enabled="true"
                android:hardwareAccelerated="true"
                android:theme="@style/SchedJoules_Theme.Default">
            <intent-filter>
                <action android:name="schedjoules.intent.action.EVENT_DISCOVERY"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity
                android:name=".framework.activities.proxies.DeeplinkEventDetailsProxy"
                android:label="Event details"
                android:exported="true"
                android:enabled="true"
                android:theme="@android:style/Theme.NoDisplay">
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data
                        android:scheme="https"
                        android:host="web.schedjoules.com"
                        android:pathPattern="/events/.*"/>
            </intent-filter>
        </activity>

        <activity
                android:name=".framework.activities.defaults.DefaultAddToCalendarActivity"
                android:exported="false"
                android:theme="@android:style/Theme.NoDisplay"
                android:enabled="true">
            <intent-filter android:priority="-999">
                <action android:name="schedjoules.event.intent.action.ADD_TO_CALENDAR"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity
                android:name=".framework.locationpicker.LocationPickerActivity"
                android:label=""
                android:exported="false"
                android:enabled="true"
                android:windowSoftInputMode="adjustPan"
                android:hardwareAccelerated="true"
                android:theme="@style/SchedJoules_Theme.Default"/>

        <service
                android:name=".framework.services.BasicInsightsService"
                android:exported="false"
                android:stopWithTask="true"
                android:enabled="true"/>

        <service
                android:name=".framework.services.BasicActionsService"
                android:exported="false"
                android:stopWithTask="true"
                android:enabled="true">
            <intent-filter>
                <action android:name="com.schedjoules.ACTIONS"/>
            </intent-filter>
        </service>

        <service
                android:name=".framework.services.CoverageService"
                android:exported="false"
                android:enabled="true"
                android:stopWithTask="true"/>

        <meta-data
                android:name="com.schedjoules.eventdiscovery.framework.common.SchedJoulesGlideModule"
                android:value="GlideModule"/>

    </application>

</manifest>
